In [1]:
import sqlalchemy
import pgeocode
import numpy as np
import getpass
import itertools
from sklearn.preprocessing import MinMaxScaler, OneHotEncoder
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor

In [2]:
# pip install ipython-sql
# pip install cryptography

In [3]:
# Configure DB
config = {
    'host':'localhost',
    'user': 'root',
    'password': getpass.getpass('Enter the password: '),
    'db': 'livethere'
}
mysql_db_uri = f'mysql+pymysql://{config["user"]}:{config["password"]}@{config["host"]}/{config["db"]}'
sqlalchemy.create_engine(mysql_db_uri)

Enter the password: ········

Engine(mysql+pymysql://root:***@localhost/livethere)

In [4]:
# Connect SQL
%load_ext sql
%sql $mysql_db_uri

In [5]:
%%sql
show tables

 * mysql+pymysql://root:***@localhost/livethere
8 rows affected.

[('AverageUtilityFee',),
 ('MainCampusMap',),
 ('Rental',),
 ('RentalRange',),
 ('Restaurant',),
 ('RestaurantRange',),
 ('University',),
 ('YelpSchema',)]

In [6]:
# Retrieve DB
query = %sql SELECT * FROM Rental
df = query.DataFrame()

 * mysql+pymysql://root:***@localhost/livethere
10578 rows affected.

In [7]:
df.dtypes

id                  int64
rentalPrice         int64
postalCode         object
longitude          object
latitude           object
stubId              int64
bathroomCount       int64
bedroomCount        int64
lastUpdatedDate    object
propertyType       object
dtype: object

In [8]:
# Format Data
df['postalCode'] = df['postalCode'].apply(lambda a: a[:3] + " " + a[-3:]).astype(str)
df['propertyType'] = df['propertyType'].astype(str)
df['longitude'] = df['longitude'].astype(float)
df['latitude'] = df['latitude'].astype(float)
df['rentalPrice'] = df['rentalPrice'].astype(float)

In [9]:
# Correlation analysis
np.abs(df.corr()['rentalPrice'])

id               0.113167
rentalPrice      1.000000
longitude        0.050045
latitude         0.060348
stubId           0.069704
bathroomCount    0.506163
bedroomCount     0.446239
Name: rentalPrice, dtype: float64

### Features
- bathroomCount
- bedroomCount
- propertyType

In [10]:
# Preprocess features
scaler = MinMaxScaler()
one_hot = OneHotEncoder()
x = scaler.fit_transform(df[['bathroomCount', 'bedroomCount']])

p = df['propertyType'].to_numpy().astype(str).reshape(-1, 1)
p = one_hot.fit_transform(p).toarray()

x = np.concatenate([x, p], axis=1)

y = df['rentalPrice']
y = y.to_numpy()

# Train-test split.
RANDOM_STATE = 300
train_x, test_x, train_y, test_y = train_test_split(x, y, test_size=0.2, shuffle=True, random_state=RANDOM_STATE)

train_x.shape, train_y.shape, test_x.shape, test_y.shape

((8462, 15), (8462,), (2116, 15), (2116,))

In [11]:
# Fit linear regression
lr = LinearRegression().fit(train_x, train_y)
lr_prd = lr.predict(test_x)

# RMSE 
np.sqrt(np.mean((test_y - lr_prd) ** 2))

718.0235685481001

This time with counties

In [12]:
# Get counties
nomi = pgeocode.Nominatim('ca')
counties = nomi.query_postal_code(list(df['postalCode']))['county_name']
counties.head(3)

0    Mississauga
1    Mississauga
2    Mississauga
Name: county_name, dtype: object

In [13]:
# With counties columns
c = counties.to_numpy().astype(str).reshape(-1, 1)
c = one_hot.fit_transform(c).toarray()

x = np.concatenate([x, c], axis=1)
train_x, test_x, train_y, test_y = train_test_split(x, y, test_size=0.2, shuffle=True, random_state=RANDOM_STATE)

train_x.shape, train_y.shape, test_x.shape, test_y.shape

((8462, 68), (8462,), (2116, 68), (2116,))

In [14]:
# Fit linear regression
lr = LinearRegression().fit(train_x, train_y)
lr_prd = lr.predict(test_x)

# RMSE 
np.sqrt(np.mean((test_y - lr_prd) ** 2))

732958276614.6488

Welp!

In [15]:
# Fit random forest
rf = RandomForestRegressor().fit(train_x, train_y)
rf_prd = rf.predict(test_x)

# RMSE
np.sqrt(np.mean((test_y - rf_prd) ** 2))

599.7701292895431

In [16]:
rd = np.random.randint(0, 10, size=10)
for t, p in zip(test_y[rd], rf_prd[rd]):
    print(f'True price: {t} Predicted: {p}')

True price: 3950.0 Predicted: 3524.4571428571426
True price: 1850.0 Predicted: 2290.690476190476
True price: 2100.0 Predicted: 2079.0292112927104
True price: 1799.0 Predicted: 1617.4228632617387
True price: 1799.0 Predicted: 1617.4228632617387
True price: 2880.0 Predicted: 2289.1634008798223
True price: 1900.0 Predicted: 1973.8365079365076
True price: 2175.0 Predicted: 2029.5910815908155
True price: 1900.0 Predicted: 1973.8365079365076
True price: 1900.0 Predicted: 1973.8365079365076

In [17]:
# Variance for whole datasets
np.sqrt(np.mean((test_y - np.mean(test_y)) **2))

916.2364044613164

In [18]:
# Server filter based average
ALIAS_MAP = {
    'condo': ['apartment', 'condo'],
    'house': ['house', 'loft', 'duplex', 'multi-unit'],
    'town house': ['town house'],
    'bachelor': ['bachelor', 'studio'],
}

def filter_rents(_id, min_distance, max_distance, property_types, bed_count, bath_count, df):
    c1 = df['universityId'] == _id
    c2 = df['rentToUniversityDistance'] >= min_distance
    c3 = df['rentToUniversityDistance'] <= max_distance
    
    query_result = df[c1 & c2 & c3]
    qeury_result = query_result[query_result['propertyType'].isin(property_types)]
    rental_price = query_result['rentalPrice']
    
    std = rental_price.std()
    mean = rental_price.mean()
    
    upper = mean + std * 1.5
    lower = mean - std * 1.5
    
    c1 = rental_price < upper
    c2 = rental_price > lower

    rental_price = rental_price[c1 & c2]

    
    return rental_price

In [19]:
# Retrieve DB
query = %sql SELECT * FROM Rental INNER JOIN RentalRange ON Rental.id = RentalRange.rentalId
df = query.DataFrame()

 * mysql+pymysql://root:***@localhost/livethere
137756 rows affected.

In [20]:
std_sum = 0
count = 0
ids = np.unique(df['universityId'])

DEFAULT_MIN = 0
DEFAULT_MAX = 15
DEFAULT_BEDCOUNTS = [1, 2, 3, 4, 5]
DEFAULT_BATHCOUNTS = [1, 2, 3]
for _id, pt, bdc, btc in itertools.product(ids, ALIAS_MAP.values(), DEFAULT_BEDCOUNTS, DEFAULT_BATHCOUNTS):
    std = filter_rents(_id, DEFAULT_MIN, DEFAULT_MAX, pt, bdc, btc, df).std()
    if str(std) != 'nan':
        count += 1
        std_sum += std

# Average Standard Deviation from filtered 
std_sum/count

458.40935213697367